<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="forgotForm" (ngSubmit)="sendRestEmail()">
    <ion-item>
        <small ion-text item-end floationg color="danger" *ngIf="email.hasError('required') && email.touched && email.hasError('email')">Email is required</small>
        <small ion-text item-end floationg color="danger" *ngIf="email.hasError('email') && !email.hasError('required') && email.touched">Invalid Email</small>
        <ion-input type="email" formControlName="email" placeholder="Enter Email here" name="email" required></ion-input>
    </ion-item><br>
    <button ion-button margin-right type="submit" [disabled]="!forgotForm.valid" round>Reset Password</button>
    <a ion-button color="light" navPop round>Back</a>
  </form>

</ion-content>
