<!--
  Generated template for the CardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="{{ card.color }}">
      <ion-buttons end>
        <!-- <button ion-button icon-only (click)="addCard()"><ion-icon name="add"></ion-icon></button> -->
        <button ion-button icon-only (click)="disscussionPage()"><ion-icon name="chatbubbles"></ion-icon></button>
      </ion-buttons>
      <ion-title>Card</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="{{ card.color }}">
    <form [formGroup]="cardForm">
      <ion-item>
          <small ion-text item-end floationg color="danger" *ngIf="title.hasError('required') && title.touched">Title is required</small>
          <ion-input (change)="updateTitle()" formControlName="title" type="text" placeholder="Title"></ion-input>
      </ion-item>
      <ion-item>
          <ion-textarea (change)="updateDescription()" formControlName="description" placeholder="Description"></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label color="{{ card.color }}">Due Date</ion-label>
          <ion-datetime (ionChange)="updateDueDate()" [(ngModel)]="duedate" class="blue" [ngModelOptions]="{standalone: true}" displayFormat="DD MMM YYYY" min="{{ min }}" max="{{ max }}" pickerFormat="DD MMM YYYY"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="showMember">
      <ion-label color="{{ card.color }}">Members</ion-label>
        <ion-select multiple="true" formControlName="members" class="blue" (ionChange)="updateMembers()">
          <ion-option *ngFor="let mkey of memberskeys" value="{{ members[mkey].uid }}">{{ members[mkey].username }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
      <ion-label color="{{ card.color }}">Status</ion-label>
        <ion-select class="blue" (ionChange)="updateStatus()" formControlName="status">
          <ion-option value="todo">ToDo</ion-option>
          <ion-option value="doing">Doing</ion-option>
          <ion-option value="done">Done</ion-option>
        </ion-select>
      </ion-item>
      <ion-list>
        <ion-list-header color="light">
          <h2><ion-icon name="checkbox-outline"></ion-icon> Checklist</h2>
        </ion-list-header>
          <ion-item>
            <ion-input type="text" [(ngModel)]="addTaskVal" [ngModelOptions]="{standalone: true}" placeholder="Add Task"></ion-input>
            <button ion-button item-end icon-only clear (click)="addTask()" ><ion-icon color="{{ card.color }}" name="add"></ion-icon></button>
        </ion-item>
        <div *ngIf="task">
          <ion-item *ngFor="let key of taskkey">
            <ion-label>{{ task[key].title }}</ion-label>
            <ion-checkbox color="{{ card.color }}" (click)="checkTask(key, task[key].checked)" *ngIf="!task[key].checked"></ion-checkbox>
            <ion-checkbox color="{{ card.color }}" (click)="checkTask(key, task[key].checked)" *ngIf="task[key].checked" checked></ion-checkbox>
            <button ion-button clear icon-only item-end icon-start (click)="deleteTask(key, task[key])">
              <ion-icon name="trash" color="danger"></ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-list>
      <ion-list>
        <ion-list-header color="light">
          <h2><ion-icon name="attach"></ion-icon> Attachment</h2>
          <button ion-button item-end icon-only margin-right (click)="addAttachment()" clear><ion-icon color="{{ card.color }}" name="add"></ion-icon></button>
        </ion-list-header>
          <ion-item *ngFor="let akey of attachmentkeys" >
            <p ion-text><a href="{{ card.attachments[akey].url }}"><ion-icon margin-right name="link"></ion-icon>{{ card.attachments[akey].name }}</a></p>
          </ion-item>
      </ion-list>
    </form>
    <div padding>
      <button ion-button full color="danger" round (click)="deleteCard()">Delete</button>
    </div>
  </ion-content>
