<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Change Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="ChangePasswordForm" (ngSubmit)="changePassword()">
    <ion-item>
        <ion-label floating>Current Password*</ion-label>
        <small ion-text item-end color="danger" *ngIf="oldpass.hasError('required') && oldpass.touched">required</small>
        <ion-input [type]="opasswordType" formControlName="oldpass" name="oldpass" required></ion-input>
        <ion-icon [name]="otoggleEye" class="passwordIcon" item-end (tap)="otogglePassword()"></ion-icon>
      </ion-item>
    <ion-item>
        <ion-label floating>New Password*</ion-label>
        <small ion-text item-end floationg color="danger" *ngIf="newpass.hasError('required') && ChangePasswordForm.hasError('minlen') && newpass.touched">required.</small>
		    <small ion-text item-end floationg color="danger" *ngIf="ChangePasswordForm.hasError('minlen') && !newpass.hasError('required') && newpass.touched">Minimum length 6.</small>
        <ion-input [type]="npasswordType" formControlName="newpass" name="newpass" required></ion-input>
        <ion-icon [name]="ntoggleEye" class="passwordIcon" item-end (tap)="ntogglePassword()"></ion-icon>
      </ion-item>
    <ion-item>
      <ion-label floating>Confirm Password*</ion-label>
      <small ion-text item-end color="danger" *ngIf="confirmpass.hasError('required') && confirmpass.touched">required</small>
      <small ion-text item-end floationg color="danger" *ngIf="ChangePasswordForm.hasError('mismatchedPasswords') && !confirmpass.hasError('required') && confirmpass.touched">Password do not Match.</small>
      <ion-input [type]="cpasswordType" formControlName="confirmpass" name="confirmpass" required></ion-input>
      <ion-icon [name]="ctoggleEye" class="passwordIcon" item-end (tap)="ctogglePassword()"></ion-icon>
    </ion-item>
    <button margin-top ion-button type="submit" [disabled]="!ChangePasswordForm.valid" round>Change Password</button>
    <a ion-button margin-top color="light" navPop round>Back</a>
  </form>

</ion-content>
